<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EruTube</title>
  <link rel = "icon" href ="../assets/images/icon.jfif" type = "image">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
  <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h2 class="logo"><a href="../views/home.html"><b>Eru</b>Tube</a></h2>
      <div class="alert alert-warning" role="alert">Better check yourself, you're looking not good. I'll help you later...</div>
    </div>
  </div>
<div class="Copy-right navbar-fixed-bottom">
  <center>Copy Right &copy; 2019</center>
</div>
</body>
</html>