<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EruTube</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "icon" href ="../assets/images/icon.jfif" type = "image">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="Home.html" style="font-size: 30px; font-family:Verdana, Geneva, Tahoma, sans-serif;"><b>Eru</b>Tube</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="Contact.html">Contact us</a></li>
              <li><a href="About.html">About</a></li>
              <li><a href="help.html">Help</a></li>
            </ul>
            <form id="search" class="navbar-form navbar-right form-control">
                <input type="text" class="form-control" placeholder="Search video ...">  <span id="search-icon" class="glyphicon glyphicon-search" ></span>
            </form>
          </div>
        </div>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <div id="left-col" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="Home.html"><span class="glyphicon glyphicon-home"></span> Home </a></li>
              <li><a href="library.html" >Library</a></li>
              <li><a href="subscriptions.html">Subscriptions</a></li>
              <li><a href="liked.html" style="background-color: rgba(200, 50, 30, 0.5); color: white;">Liked videos</a></li>
            </ul>
          </div>
          <div id="main-box" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Liked videos</h1> 
            <a href="../index.html"><h2 class="sub-header">Sign out</h2></a>
            
          </div>
        </div>
      </div>   
</body>
</html>