<!DOCTYPE html>
<html lang="en">
<head>
  <title>EruTube</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel = "icon" href ="../assets/images/icon.jfif" type = "image">
  <link rel="stylesheet" href="../styles/SignUp.css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <form action="views/Home.html" id="form">
                <input type="text" id="firstName" placeholder=" First name" required>
                <input type="text" id="LastName" placeholder=" Last name" required>
                <p class="birthDate"><b> Birth Date</b></p><input class="date" type="date">
                <input type="text" id="tele" placeholder="Phone num">
                <input type="email" id="eml" placeholder=" Enter email" required>
                <input type="password" id="psw" placeholder="Enter password" required><br><br>
                <input type="checkbox" ><p class="rememberMe">Remember me</p><br><br>
                <button type="submit" id="SignUp" class="btn btn-primary btn-block">Sign up</button>
                <h4>Sign Up with <a href="https://www.facebook.com">facebook</a>.</h4>
            </form>
            
       </div>     
    </div>
</body>
</html>

<!-- event.preventDefault(); -->

<!-- window.location -->