<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <title>EruTube</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "icon" href ="../assets/images/icon.jfif" type = "image">
    <link rel="stylesheet" href="../styles/index.css">
    
  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Home.html" ><b>Eru</b>Tube</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="About.html">About</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form id="search" class="navbar-form navbar-right form-control">
            <input type="text" class="form-control" placeholder="Search video ...">  <span id="search-icon" class="glyphicon glyphicon-search" ></span>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="left-col" class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="Home" class="active"><a href="Home.html"  ><span class="glyphicon glyphicon-home"></span> Home </a></li>
            <li><a href="Library.html">Library</a></li>
            <li><a href="subscriptions.html" style="background-color: rgba(200, 50, 30, 0.5); color: white;">Subscriptions</a></li>
            <li><a href="#">Liked videos</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">New released videos</a></li>
            <li><a href="">Educational</a></li>
            <li><a href="">Funny videos</a></li>
            <li><a href="">Eritrean videos</a></li>
            <li><a href="">Series movies</a></li>
          </ul>
         
        </div>
        <div id="main-box" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a href="#"> Videos from your subscriptions</a></h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <video src="../assets/videos/v1.mp4"  class="vid-responsive" controls></video>
              <h4>Video hii</h4>
              <span class="text-muted">Discription about video hii</span><br>
              <button id='subscribe' onclick="subscribe(this)">unsubscribe</button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <video src="../assets/videos/v2.mp4" class="vid-responsive" controls></video>
              <h4>Video numbering</h4>
              <span class="text-muted">Discription about video numbering</span><br>
              <button id='subscribe' onclick="subscribe(this)">unsubscribe</button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <video src="../assets/videos/v3.mp4"  class="vid-responsive" controls></video>
              <h4>Video wave</h4>
              <span class="text-muted">Discription about video wave</span><br>
              <button id='subscribe' onclick="subscribe(this)">unsubscribe</button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <video src="../assets/videos/v1.mp4"  class="vid-responsive" controls></video>
              <h4>video hii second time</h4>
              <span class="text-muted">Discription about this video</span><br>
              <button id='subscribe' onclick="subscribe(this)">unsubscribe</button>
            </div>
          </div>
          <div class="signOut" >
            <a href="../login.html">Sign out</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
